* {
  margin: 0;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

header {
  background-color: #0d0f0f;
  border-bottom: 1px solid #a0a3a3;
  color: white;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-card {
  display: flex;
  letter-spacing: 0.1rem;
}

.movie-card:nth-child( odd ) {
  background-color: #0d0f0f;
  color: white;
}

footer a {
  background-color: #a0a3a3;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.movie-card a {
  align-self: center;
  background-color: #a0a3a3;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

footer a:hover {
  color: #0d0f0f;
}

.movie-details ul a {
  text-decoration: none;
}

.movie-details ul li a {
  background-color: #a0a3a3;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
}

.movie-card a:hover {
  color: #0d0f0f;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.movie-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3rem;
  width: 80%;
}

.movie-details h1 {
  align-self: center;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.movie-details p {
  letter-spacing: 0.1rem;
  padding-top: 1rem;
}

.title-info {
  font-size: 1.2rem;
  font-weight: 700;
}

.movie-details ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 2rem;
}

.movie-details ul li a:hover {
  background-color: #a0a3a3;
  border-radius: 2rem;
  color: #0d0f0f;
  padding: 1rem;
}

.edit-movie, .new-movie {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1rem;
  padding: 2rem;
}

.edit-movie form, .new-movie form {
  border: 1px solid black;
  margin: auto;
  width: 50%;
}

.edit-movie form div, .new-movie form div {
  margin: auto;
  padding: 0.8rem;
  width: 90%;
}

.edit-movie label, .new-movie label {
  font-size: 1.3rem;
  width: 100%;
}

.edit-movie input, textarea, .new-movie input, textarea {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.edit-movie textarea, .new-movie textarea {
  height: 200px;
  overflow: hidden;
  resize: none;
  width: 100%;
}

.edit-movie select, .new-movie select {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}

.div-btn-submit {
  display: flex;
  justify-content: center;
}

.edit-movie button, .new-movie button {
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.5rem;
}

footer {
  background-color: #0d0f0f;
  border-top: 1px solid #a0a3a3;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

@media ( max-width : 1000px ) {

  header {
    font-size: 1rem;
  }

  .movie-card {
    display: flex;
    flex-direction: column;
  }

  .movie-card-info a {
    margin: 1.3rem;
  }

  .movie-list h1 {
    padding: 2rem 0;
  }

  .edit-movie, .new-movie {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
    padding: 2rem;
  }

  .edit-movie form, .new-movie form {
    width: 100%;
  }
}
